div
{
    margin-bottom: 100px;
    background-color: black;
}
div
{
    margin-bottom: 100px;
    background-color: black;
}
div
{
    margin-bottom: 100px;
    background-color: black;
}
div
{
    margin-bottom: 100px;
    background-color: black;
}
div
{
    
    background-color: black;
}

.copy_right_footer {
    position: fixed;
    color: #6c757d;
    bottom: 0px;
    width: 100%;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
 }

 #j
 {
     background-color: pink;
 }